.newWrapper {
    margin: 30px auto;
    display: flex;

    width: 1100px;
    height: 300px;
}

.dispFlex{
    margin-top: 15px;
    display: flex; 
}

.post {
    margin-left: 30px;
}

.imgNew {
    border-radius: 3px;
}

.button {
	background-color: #4aa7ff;
	border: 3px solid #4aa7ff;

    margin-top: 30px;
    padding: 8px 40px;
    display: inline-block;

	line-height: 1.5;
	font-size: 20px;
	color: #FFF;
	font-weight: 700;
	text-decoration: none;
	transition: background-color 0.2s ease-in;

    border-radius: 50px;

	cursor: pointer;
}

.button:hover {
	background-color: #80c1ff;
}

.button:active {
	background-color: #2cbcff;
}

.button:focus {
	outline: none;
	border: 3px solid #4aa7ff;
	box-shadow: 0px 0px 10px 0 #2cbcff;
}

.paginationWrapper {
    /* position: absolute; */
    position: fixed;
    right: 30px;
    top: 80%;
    padding: 10px;
    /* background: #ffe; */
    /* border: 1px solid #333; */
}